@model IEnumerable<Entities.Recorrido>

@{
    ViewBag.Title = "Index";
    var id = Url.RequestContext.RouteData.Values["id"];
}

<h2>@SIGT_TFI.Resources.HomeTexts.listrecorridosporobra</h2>

<p>
    @Html.ActionLink(@SIGT_TFI.Resources.HomeTexts.Recorridos, "Create", new { id }, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Nombre
        </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.FechaiTraslado
        </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.FechafTraslado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fin)
        </td>
        
    </tr>
}



</table>

<div>
    @Html.ActionLink(SIGT_TFI.Resources.HomeTexts.Volver, "Index", "Obra", new { id }, null)
</div>