@using SIGT_TFI.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}
@*<h2>@ViewBag.Title.</h2>*@


<link href="~/Content/Login.css" rel="stylesheet" />
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="col-sm-4">
        <p></p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="centerBlock">
                <h2 align="center">@SIGT_TFI.Resources.HomeTexts.IniciarSesion</h2>
                <p align="center">@SIGT_TFI.Resources.HomeTexts.IngresarEmailPass</p>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-horizontal">
                    @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-12">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-horizontal">
                    @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-12">
                        <div class="input-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = SIGT_TFI.Resources.HomeTexts.Contraseña, @id = "password-input2" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <span class="input-group-btn" style="width:0;">
                                <button class="btn btn-default reveal" type="button"><i class="glyphicon glyphicon-eye-open"></i></button>
                            </span>
                        </div>

                    </div>
                </div>
                <div class="form-horizontal">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @SIGT_TFI.Resources.HomeTexts.Recordar
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        <input type="submit" class="btn btn-primary" id="btn1" value= "@SIGT_TFI.Resources.HomeTexts.IniciarSesion" />
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Iniciar sesión" class="btn btn-default" />
                    </div>
                </div>*@
                <p>
                    @Html.ActionLink(SIGT_TFI.Resources.HomeTexts.Registrarse, "Register")
                </p>
                 @*Habilite esta opción después de habilitar la confirmación de la cuenta para la función de restablecimiento de contraseña*@
                    <p>
                        @Html.ActionLink(SIGT_TFI.Resources.HomeTexts.Olvidado, "ForgotPassword")
                    </p>
            </div>
        </div>
        </div>
        <div class="col-sm-4">
            <p></p>
        </div>
}

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            <script>

                $(".reveal").on('click', function () {
                    var $input = $('#password-input2');
                    var currentInputType = $input.attr('type');
                    var inputStatus = {
                        text: 'password',
                        password: 'text'
                    };
                    $input.attr('type', inputStatus[currentInputType]);

                })

            </script>

        }
