@model IEnumerable<Entities.Obra>
@using Entities;

@{
    ViewBag.Title = "Index";
    var id = Url.RequestContext.RouteData.Values["id"];
}

<h2>Listado Obras</h2>

<p>
    @Html.ActionLink("Agregar", "Create", new { id }, new { @class = "btn btn-primary btn-large" })
</p>
<p>
    @using (Html.BeginForm("Index", "Obra", FormMethod.Get))
    {
        <b>Buscar por Nombre:</b>
        @Html.TextBox("Search") <input type="submit" value="Search" />
    }
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id })|
            <a href="@Url.Action("Index", "Recorrido", new { id = item.id })" data-toggle="tooltip" data-placement="top" title="Rutas!">
                <span class="fas fa-route"></span>
            </a>
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Volver", "Index", "Cliente")
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")


        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

    }
