@model IEnumerable<Entities.Obra>
@using Entities;

@{
    ViewBag.Title = "Index";
    var id = Url.RequestContext.RouteData.Values["id"];
}

<h2>@SIGT_TFI.Resources.HomeTexts.ListadoObras</h2>
<br />

<p>
    @Html.ActionLink(@SIGT_TFI.Resources.HomeTexts.Agregar, "Create", new { id }, new { @class = "btn btn-primary btn-large" })
</p>
<p>
    @using (Html.BeginForm("Index", "Obra", FormMethod.Get))
    {
    <b>@SIGT_TFI.Resources.HomeTexts.BuscarPor:</b>
        @Html.TextBox("Search") <input type="submit" value="@SIGT_TFI.Resources.HomeTexts.Buscar" class="btn btn-primary"/>
    }
</p>
<table class="table table-striped">
    <tr>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Obra
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
           
            <a href="@Url.Action("Index", "Recorrido", new { id = item.id })" data-toggle="tooltip" data-placement="top" title="@SIGT_TFI.Resources.HomeTexts.Recorridos">
                <span class="fas fa-route"></span>
            </a>
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink(@SIGT_TFI.Resources.HomeTexts.Volver, "Index", "Cliente")
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")


        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>

    }
