@model IEnumerable<Entities.Empresa>
@using GridMvc.Html
<link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/gridmvc.min.js")" type="text/javascript"> </script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Search", "IndexSearch")
</p>
<button type="button" class="btn btn-default","glyphicon glyphicon-align-left" >
</button>
@Html.Grid(Model).Columns(columns =>
{



    columns.Add(foo => foo.RazonSocial).Sortable(true).Filterable(true).SetWidth(110);
    columns.Add(foo => foo.NombreFantasia).Sortable(true).Filterable(true);
    columns.Add(foo => foo.Cuit).Sortable(true).Filterable(true);
    columns.Add()
       .Titled("Detalles")
       .Sanitized(false)
       .Encoded(false)
       .RenderValueAs(model => new HtmlString
           (
               "<button data-id=" + model.id + " class=\"btn btn-outline-info details\">Detalles</button>"
           )
       );
    columns.Add()
      .Titled("Editar")
      .Sanitized(false)
      .Encoded(false)
      .RenderValueAs(model => new HtmlString
          (
              "<button data-id=" + model.id + " class=\"btn btn-outline-info edit\">Editar</button>"
          )
      );
    columns.Add()
      .Titled("Direccion")
      .Sanitized(false)
      .Encoded(false)
      .RenderValueAs(model => new HtmlString
          (
              "<button data-id=" + model.id + " class=\"btn btn-outline-info details\">Direccion</button>"
          )
      );

}).WithPaging(10)

<script>
    $(document).ready(function () {
        $('.details').on('click', function (e) {
            $.get('/Cliente/Details/' + $(e.target).data('id'), null, function (r) {
            });
        });
    });
    $(document).ready(function () {
        $('.edit').on('click', function (e) {
            $.get('/Cliente/Edit/' + $(e.target).data('id'), null, function (r) {
            });
        });
    });
</script>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreFantasia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Contribuyente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Empresa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreFantasia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Contribuyente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Empresa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>*@
