@model Entities.Traslado

@{
    ViewBag.Title = "Create";

}

@{ var listadoTransporte = new List<SelectListItem>();
    foreach (var std in ViewData["Transporte"] as IList<Entities.Transporte>)
    {
        var elemento = new SelectListItem()
        {
            Text = std.Patente,
            Value = std.id.ToString()
        };
        listadoTransporte.Add(elemento);
    }
}

@{ var listadoRecorrido = new List<SelectListItem>();
    foreach (var std in ViewData["Recorrido"] as IList<Entities.Recorrido>)
    {
        var elemento = new SelectListItem()
        {
            Text = std.Nombre,
            Value = std.id.ToString()
        };
        listadoRecorrido.Add(elemento);
    }
}

<h2>Alta de traslado</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Traslado</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NumeroTraslado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroTraslado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroTraslado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2"  })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" , @type = "date" } })
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.IdTransporte, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdTransporte", listadoTransporte, new { @class = "form-control dropdown-toggle" })
                @Html.ValidationMessageFor(model => model.IdTransporte, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdRecorrido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdRecorrido", listadoRecorrido ,new { @class = "form-control dropdown-toggle"})
                @Html.ValidationMessageFor(model => model.IdRecorrido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Carga, htmlAttributes: new { @class = "control-label col-md-2"  })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Carga, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Carga, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
          
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#IdTransporte").selectize();
        $("#IdRecorrido").selectize();
    </script>


}