@model Entities.Traslado
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/toastr.js"></script>
<link href="~/Content/toastr.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
@{
    ViewBag.Title = "Create";

}

@{ var listadoTransporte = new List<SelectListItem>();
    foreach (var std in ViewData["Transporte"] as IList<Entities.Transporte>)
    {
        var elemento = new SelectListItem()
        {
            Text = std.Patente,
            Value = std.id.ToString()
        };
        listadoTransporte.Add(elemento);
    }
}

@{ var listadoRecorrido = new List<SelectListItem>();
    foreach (var std in ViewData["Recorrido"] as IList<Entities.Recorrido>)
    {
        var elemento = new SelectListItem()
        {
            Text = std.Nombre,
            Value = std.id.ToString()
        };
        listadoRecorrido.Add(elemento);
    }
}

<h2>Alta de traslado</h2>

@*@if (TempData["Notification"] != null)
{
    <div id="NotificationBox" class="@TempData["NotificationCSS"]" style="display: none">
        @TempData["Notification"]
    </div>
}*@





@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Traslado</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.NumeroTraslado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumeroTraslado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroTraslado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fecha, htmlAttributes: new { @class = "control-label col-md-2"  })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fecha, new { htmlAttributes = new { @class = "form-control" , @type = "date" } })
                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.IdTransporte, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdTransporte", listadoTransporte, new { @class = "form-control dropdown-toggle" })
                @Html.ValidationMessageFor(model => model.IdTransporte, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdRecorrido, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdRecorrido", listadoRecorrido ,new { @class = "form-control dropdown-toggle"})
                @Html.ValidationMessageFor(model => model.IdRecorrido, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Carga, htmlAttributes: new { @class = "control-label col-md-2"  })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Carga, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Carga, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
          
        </div>
       
        @*@Html.Raw("<div class=\"alert alert - success\">" + TempData["msg"] + "</div>")*@
        @*@Html.Raw(TempData["msg"])*@
        

       
    </div>
}
<button class="btn btn-warning" id="btn-1"> Warning </button>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#IdTransporte").selectize();
        $("#IdRecorrido").selectize();
        
        
</script>
    <script>
        $(function () {
            var a = '@TempData["msg"]';
            if (a != '')
                toastr.info(a, "Información");
               // alert("ab" + a)
        })
    </script>    
    <script>
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        $('#btn-1')
            .click(function () {
                toastr.warning("Prueba Warning", "hasta");
            });
       
    </script>


    @*<script>  
        $(document).ready(function () {
                $("#NotificationBox").fadeIn(5000);

            if ($("#NotificationBox").attr('class').split(' ').slice(-1) == "nb-success") {
                $("#NotificationBox").delay(3000).fadeOut(1000);
            }
        });

       
</script>*@


}