@model IEnumerable<Entities.Traslado>

@{
    ViewBag.Title = "Index";
}



<p>
    @Html.ActionLink("Create New", "Create")
    <div><a href="@Url.Action("ExportToXML")"class="btn btn-warning"> Report XML </a></div> 
</p>
<a href="@Url.Action("ExportToXLS", "Traslado")" class="btn btn-warning">
    @SIGT_TFI.Resources.HomeTexts.Exportar
</a>
<p>
    @using (Html.BeginForm("Index", "Traslado", FormMethod.Get))
    {
    <b>@SIGT_TFI.Resources.HomeTexts.BuscarPor:</b>
        @Html.TextBox("Search") <input type="submit" value="@SIGT_TFI.Resources.HomeTexts.Buscar" />
    }
</p>
<table class="table">
    <tr>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Numero
        </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Fecha
        </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Transporte
        </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Recorrido
        </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Carga
        </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroTraslado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdTransporte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdRecorrido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carga)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        
    </tr>
}

</table>
