@model IEnumerable<Entities.Domicilio>
@using Entities;
<link href="~/Content/jquery.fancybox.css" rel="stylesheet" media="screen" />
<script src="~/Scripts/jquery.fancybox.js"></script>
<script src="~/Scripts/jquery.fancybox.pack.js"></script>
<script src="~/Scripts/jquery.mousewheel-3.0.6.pack.js"></script>
@{
    ViewBag.Title = "Index";
    var id = Url.RequestContext.RouteData.Values["id"];
    var localidad = "Localidad";
    var provincia = "Provincia";

}

<h2>@SIGT_TFI.Resources.HomeTexts.Domicilio</h2>

<p>
    @Html.ActionLink(SIGT_TFI.Resources.HomeTexts.Agregar, "Create", new { id }, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>

        <th>
            @SIGT_TFI.Resources.HomeTexts.Calle
            </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Numero
            </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Localidad
            </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Piso
        </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Depto
        </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.CodigoPostal
        </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Provincia
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        {
            foreach (var std in ViewData["Localidad"] as IList<Localidad>)
            {
                if (std.Id == item.IdLocalidad)
                {
                    localidad = std.Nombre;
                    break;
                }
            }
            foreach (var std in ViewData["Provincia"] as IList<Provincia>)
            {
                if (std.Id == item.IdProvincia)
                {
                    provincia = std.Nombre;
                    break;
                }
            }
        }
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => localidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Piso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => provincia)
            </td>
            <td>
                <a id="various3" class="btn btn-info" href="https://maps.google.com/maps?width=100%&height=600&hl=es&q=+@item.Calle+%20+@item.Numero+%20+@localidad+(SIGT)&ie=UTF8&t=&z=14&iwloc=B&output=embed" onclick="void (0);">
                   @SIGT_TFI.Resources.HomeTexts.Localizar
                </a>

                @*<src="https://maps.google.com/maps?width=100%&height=600&hl=es&q=Paunero%201879%20martinez+(SIGT)&ie=UTF8&t=&z=14&iwloc=B&output=embed"*@
                @*<a id="various3" href="http://maps.google.com/?output=embed&amp;f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=London+Eye,+County+Hall,+Westminster+Bridge+Road,+London,+United+Kingdom&amp;hl=lv&amp;ll=51.504155,-0.117749&amp;spn=0.00571,0.016512&amp;sll=56.879635,24.603189&amp;sspn=10.280244,33.815918&amp;vpsrc=6&amp;hq=London+Eye&amp;radius=15000&amp;t=h&amp;z=17">Iframe</a>*@
            </td>
        </tr>
    }

</table>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).ready(function () {
            $(".fancy-text").fancybox();
        });
        $(document).ready(function () {
            $(".fancy-text").fancybox();
        });
        $("#various3").fancybox({
            'width': '75%',
            'height': '75%',
            'autoScale': false,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'type': 'iframe'
        });
        $(document).ready(function () {
            $(".various iframet").fancybox();
        });
            $('.fancybox-media').fancybox({
                openEffect: 'elastic',
                closeEffect: 'elastic',
                helpers: {
                    media: {}
                }
            });
    </script>}