@model IEnumerable<Entities.Transporte>

@{
    ViewBag.Title = "Index";
    var id = Url.RequestContext.RouteData.Values["id"];

}

<h2>@SIGT_TFI.Resources.HomeTexts.listtranspor</h2>
<br />
@*@foreach (var item in Model)
{
    
    var idproveedor = item.IdProveedor;
    @Html.ActionLink("Create New", "Create", new { id = item.IdProveedor })

}*@

<p>
  
       @Html.ActionLink(@SIGT_TFI.Resources.HomeTexts.Agregar, "Create", new { id } , new {@class = "btn btn-primary btn-large" })

</p>
<table class="table">
    <tr>
        
        <th>
            @SIGT_TFI.Resources.HomeTexts.Marca
        </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Modelo
        </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Tara
        </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Patente
        </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Descripcion
        </th>
        <th>
            @SIGT_TFI.Resources.HomeTexts.Titular
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tara)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Patente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titular)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>*@
    </tr>
}

</table>
