@model Entities.Cliente
@using PagedList;
@using PagedList.Mvc;

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
@{
    ViewBag.Title = "Buscar";
}





@{ var listadoCliente = new List<SelectListItem>();
    foreach (var std in ViewData["Cliente"] as IList<Entities.Empresa>)
    {
        var elemento = new SelectListItem()
        {
            Text = std.RazonSocial,
            Value = std.id.ToString()
        };
        listadoCliente.Add(elemento);
    }
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@SIGT_TFI.Resources.HomeTexts.Buscar</h4>
        <hr />

        <div class="col-sm-4">
            <div class="form-group">
                <div class="col-md-2">
                    <label>@SIGT_TFI.Resources.HomeTexts.Cliente</label>
                </div>
                @*@Html.LabelFor(model => model.IdCliente, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.DropDownList("IdCliente", listadoCliente, new { htmlAttributes = new { @class = "form-control dropdown-toggle" } })
                    @Html.ValidationMessageFor(model => model.IdCliente, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>
        <div class="col-sm-4">

          


        </div>
        <div class="col-sm-4">
           
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="@SIGT_TFI.Resources.HomeTexts.Buscar" class="btn btn-primary btn-lg btn-block" />
                </div>
            </div>

        </div>
    </div>
}
<hr />
<h4>@SIGT_TFI.Resources.HomeTexts.Facturas</h4>

@using (Html.BeginForm("BuscarComprobante", "CuentaCorriente", FormMethod.Post))
{
    @Html.AntiForgeryToken()
   
     if (ViewData["ListaFacturas"] != null)
    {
        <table class="table table-striped">
            <tr>
                
                <th>
                    <label>@SIGT_TFI.Resources.HomeTexts.Tipo</label>
                </th>
                <th>
                    <label>@SIGT_TFI.Resources.HomeTexts.Letra</label>
                </th>
                <th>
                    <label>@SIGT_TFI.Resources.HomeTexts.Fecha</label>
                </th>
                <th>
                    <label>@SIGT_TFI.Resources.HomeTexts.Numero</label>
                </th>
                <th>
                    <label>@SIGT_TFI.Resources.HomeTexts.Subtotal</label>
                </th>
                <th>
                    <label>@SIGT_TFI.Resources.HomeTexts.Iva</label>
                </th>
                <th>
                    <label>@SIGT_TFI.Resources.HomeTexts.Total</label>
                </th>

            </tr>

            @foreach (var std in ViewData["ListaFacturas"] as IList<Entities.Cliente>)
            {
                <tr>
                    
                    <td>
                        @Html.DisplayFor(i => std.Tipo)
                    </td>
                    <td>
                        @Html.DisplayFor(i => std.Letra)
                    </td>
                    <td>
                        @Html.DisplayFor(i => std.FechaFactura))
                    </td>
                    <td>
                        @Html.DisplayFor(i => std.NumeroFactura)
                    </td>
                    <td>
                       $ @Html.DisplayFor(i => std.Subtotal)
                    </td>
                    <td>
                       $ @Html.DisplayFor(i => std.Iva)
                    </td>
                    <td>
                        $ @Html.DisplayFor(i => std.Total)
                    </td>

                    


                </tr>
            }


        </table>

    }
    <hr />
    <h4>@SIGT_TFI.Resources.HomeTexts.Cobranza</h4>
    if (ViewData["ListaCobranzas"] != null)
    {
        <div class="row">
            <div class="col-md-8">
                <table class="table table-striped">
                    <tr>
                        <th>
                            <label>@SIGT_TFI.Resources.HomeTexts.Numero</label>
                        </th>
                        <th>
                            <label>@SIGT_TFI.Resources.HomeTexts.Fecha</label>
                        </th>
                        <th>
                            <label>@SIGT_TFI.Resources.HomeTexts.Total</label>
                        </th>
                    </tr>
                    @foreach (var std in ViewData["ListaCobranzas"] as IList<Entities.Cliente>)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(i => std.NumeroCobranza)
                            </td>
                            <td>
                                @Html.DisplayFor(i => std.FechaCobranza)
                            </td>
                            <td>
                              $ @Html.DisplayFor(i => std.TotalCobranza)
                            </td>
                        </tr>
                    }


                </table>
            </div>
            <div class="col-md-4">
                <table class="table table-striped">
                    <tr>
                        <th>
                            <label>@SIGT_TFI.Resources.HomeTexts.Saldo</label>
                        </th>

                    </tr>
                    @foreach (var std in ViewData["SaldoCuentaCorriente"] as IList<Entities.Cliente>)
                    {
                        <tr>

                            <td>
                                $ @Html.DisplayFor(i => std.Saldo)
                            </td>

                        </tr>
                    }


                </table>
            </div>
        </div>
    }
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#IdTipoComprobante").selectize();
        $("#IdCliente").selectize();
        $("#IdLetra").selectize();
    </script>


}